$min-item-carousel:1;
$max-item-carousel:6;

.carousel {
  position:relative;
  width:400px;
  height:200px;
  border:1px solid black;
  margin: auto;
  display:flex;
}
.carousel-navigation{
  flex-shrink:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:22px;
}
.carousel-container{
  flex: 1;
  background: violet;
  height: 100%;
  display: flex;
  overflow:hidden;
}
.carousel-content{
  display: flex;
  flex: 1;
  left:-100%;
  transform: translate3d(100%,0,0);
  position:relative;
}
.carousel-reverse{
  transform:translate3d(-100%,0,0);
}
.carousel-animate{
  transform:none;
  transition: all 250ms ease-in-out;
}

.carousel-item{
  flex-shrink:0;
  flex-grow:1;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px dashed black;
  box-sizing:border-box;
}

@for $i from $min-item-carousel through $max-item-carousel{
  .carousel-num-#{$i} .carousel-item{
    min-width: calc(100% / #{$i})
  }
}